.phoneAndMail {
    > div {
        display: inline-block;
        margin-right: 30px;
    }
}
.line {
    display: inline-block;
    margin: 0 10px;
}
.list {
    border: 2px solid #ccc;
    > div {
        background-color: #ddd;
        padding: 20px;
        &:div:nth-child(odd) {
            background-color: #eee;
        }
    }
}
